.reg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.reg-btn {
  margin-top: 20px;
}

.link {
  text-align: center;
  margin-top: 10px;
}
